<div class="year-page">
  <form ng-if="!$ctrl.loggedIn">
    <input type="text" placeholder="Enter the password" ng-enter="$ctrl.login()" ng-model="$ctrl.password" />
    <button ng-if="!$ctrl.logFail || $ctrl.password!=$ctrl.lastAttempt" ng-click="$ctrl.login()">
      <i class="fas fa-dna"></i>
    </button>
    <button ng-if="$ctrl.logFail && $ctrl.password==$ctrl.lastAttempt" ng-click="$ctrl.login()" style="background-color: #e80c0c;">
      <i class="fas fa-dna"></i>
    </button>
  </form>

  <div class="fact-space" ng-if="$ctrl.loggedIn" ng-click="$ctrl.select(question)" ng-repeat="question in $ctrl.questions">
    <div class="fact-card" ng-class="{'clicked':question.clicked}">
      <div class="card-front">
        <img src="{{question.img_url}}" alt="Quiz image">
      </div>
      <div class="quiz-back">
        <p>{{question.question}}</p>
        <a ng-repeat="answer in question.answers" ng-click="$ctrl.selectAnswer(question.number, answer.int); $event.stopPropagation();" ng-class="{'chosen':(question.choice==answer.int), 'right':($ctrl.submitted && (answer.int == question.correct_int)), 'wrong':($ctrl.submitted && (answer.int != question.correct_int) && (answer.int == question.choice))}">{{answer.text}} <i class="fas fa-times" ng-if="$ctrl.submitted && (answer.int != question.correct_int) && (answer.int == question.choice)"></i><i class="fas fa-check" ng-if="$ctrl.submitted && (answer.int == question.correct_int)"></i></a>
      </div>
    </div>
  </div>
  <div class="results-section">
    <button ng-if="$ctrl.allChosen && !$ctrl.submitted" ng-click="$ctrl.submitQuiz()">Submit</button>
    <p ng-if="$ctrl.submitted">{{$ctrl.noOfCorrectAns}} / {{$ctrl.noOfQs}}</p>
  </div>
</div>
